.score-box-big {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    background-color: #6b00b6;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
}

.score-number {
    font-size: 80px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    pointer-events: none;
}